@using ERP_SOLUTIONS.Models.Entities
@model SchoolClass

@{
    ViewData["Title"] = "Delete Class";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<h2>Delete Class</h2>

<h4 class="text-danger">Are you sure you want to delete this?</h4>

<div class="card">
    <div class="card-body">
        <h5>@Model.ClassName</h5>

        <dl class="row">
            <dt class="col-sm-3">Stream</dt>
            <dd class="col-sm-9">@Model.Stream</dd>

            <dt class="col-sm-3">Department Code</dt>
            <dd class="col-sm-9">@Model.DeptCode</dd>
        </dl>

        <form asp-action="Delete">
            <input type="hidden" asp-for="ClassID" />

            <button type="submit" class="btn btn-danger">Delete</button>
            <a asp-action="Index" class="btn btn-secondary">Cancel</a>
        </form>
    </div>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}